body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin-top: 5vh;
    color: rgb(48, 48, 48);
}

form, h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    background-color: rgb(249, 255, 170);
    width: 20%;
    height: 40%;
    border-radius: 25px;
    padding: 25px;
    gap: 15px;
    border: dashed 2px rgb(206, 151, 69);
    box-shadow: 2px 2px 8px 2px rgb(206, 151, 69);
}

input{
    text-align: center;
}

.sla{
    display: flex;
    flex-direction: row;
}

label, input{
    color: rgb(48, 48, 48);
    font-size: 20px;
}