body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg,#0a0f24,#182850);
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 40px auto;
    background-color: #b11f36;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0.0.0.0.5);
}

h1{
    text-align: center;
    color: #00e0ff;
    margin-bottom: 30px;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: #242b4b;
}

thead{
    background-color: #00e0ff;
    color: #0a0f24;
}

th, td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #444;
}

tr:hover{
    background-color: #2e3764;
}

footer{
    text-align: center;
    font-size: 0.9em;
    color: #ccc;
    margin-top: 20px
}